<script>
  /**
	 * Object of the option provided from the parent Dropdown
	 * @type {Object}
	 */
  export let option = {
    label: '',
    value: '',
  };

  /**
	 * Array of all selected items from the parent Dropdown.
	 * @type {Boolean}
	 */
  export let selected = false;

  /**
	 * Enable or disable this option
	 * @type {Boolean}
	 */  
  export let disabled = false;

  /**
	 * Toggle if the whole row should be highlighted on selection
	 * @type {Boolean}
	 */
  export let highlightSelected = false;

  /**
	 * Define which property to in the option object to use as the label for the property
	 * @type {String}
	 */
	export let labelProperty = 'label';

  /**
	 * Define which property to in the option object to use as the value for the property
	 * @type {String}
	 */
  export let valueProperty = 'value';
</script>

<style type="text/scss">
  .checkbox {
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1em;
    width: 1em;
    @apply border-gray-300;

    &:hover {
      cursor: pointer;
    }

    &:checked {
      box-shadow: 0 0 0px 1px #fb5045;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      background: #fb5045;
      padding: 1px;
      border: 2px solid white;

      &.disabled {
        box-shadow: 0 0 0px 2px #fd9992;
        background: #fd9992;
      }
    }
    &.disabled {
      cursor: not-allowed;
      @apply border-gray-200;
    }
  }

  label {
    &:hover {
      cursor: pointer;
    }
  }

  .selected {
		@apply bg-primary-500 text-white;

		&:hover {
			@apply bg-primary-400;
		}

		.multi-icon {
			opacity: 1;
		}
	}
</style>

<div class="checkbox__container px-4 py-2" class:selected={highlightSelected && selected}>
  <label class="{$$props.class || ''} flex items-center text-sm pointer-events-none" >
    <slot name="label-left"></slot>
    <!-- <input
      type="checkbox"
      {disabled}
      checked={isSelected}
      class="checkbox leading-tight {$$slots['label-left'] ? 'ml-2' : ''} {$$slots.default ? 'mr-2' : ''} text-primary bg-white rounded border-2 focus:outline-none focus:shadow-outline {disabled ? 'disabled' : ''}"
    > -->
    {#if selected && !highlightSelected}
      <i class="fas fa-check-square text-primary text-base"></i>
    {:else if selected && highlightSelected}
    <i class="far fa-check-square text-base"></i>
    {:else}
      <i class="far fa-square text-base text-gray-400"></i>
    {/if}
    <div class="px-2 pointer-events-none">
      {#if $$slots.default }
        <slot></slot>
      {:else}
        {option[labelProperty]}
      {/if}
    </div>
  </label>
</div>
