<script>
  /**
	 * Object of the option provided from the parent Dropdown
	 * @type {Object}
	 */
	 export let option = {
    label: '',
    value: '',
  };

  /**
	 * Array of all selected items from the parent Dropdown.
	 * @type {boolean}
	 */
  export let selected = false;

	/**
	 * Enable or disable this option
	 * @type {Boolean}
	 */  
  export let disabled;

	/**
	 * Toggle if the whole row should be highlighted on selection
	 * @type {Boolean}
	 */
  export let highlightSelected = true;

	/**
	 * Define which property to in the option object to use as the label for the property
	 * @type {String}
	 */
	export let labelProperty = 'label';

  /**
	 * Define which property to in the option object to use as the value for the property
	 * @type {String}
	 */
  export let valueProperty = 'value';
</script>

<style type="text/scss">
  .selected {
		@apply bg-primary-500 text-white;

		&:hover {
			@apply bg-primary-400;
		}

		.multi-icon {
			opacity: 1;
		}
	}
</style>

<div class="px-4 py-2" class:selected={highlightSelected && selected}>
  {option[labelProperty]}
</div>