<script>
	import '../app.css';
  import Sidebar from '$components/Sidebar.svelte';
</script>

<style>
  :global(body) {
    background-color: var(--background-primary);
    padding: 1rem;
    color: var(--text-color-primary);
  }

  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
</style>

<div class="container">
  <div class="sidebar">
    <Sidebar />
  </div>
  <div class="content">
    <slot />
  </div>
</div>
