<script>
  import Prism from 'prismjs';
  import 'prism-svelte';
  import Button from '$lib/Button/';
  import escape from 'escape-html';

  export let showCode = false;
  export let code = '';
  export let language = '';
  export let title = '';
  export let description = '';


  const highlighted = svelteEscape(language ? Prism.highlight(code, Prism.languages[language], 'svelte') : escape(code));

  function svelteEscape (str) {
    return str
		.replace(
			/[{}`]/g,
			//@ts-ignore
			(c) => ({ '{': '&#123;', '}': '&#125;', '`': '&#96;' }[c])
		)
		.replace(/\\([trn])/g, '&#92;$1');
  }
</script>

<style>
  .code {
    white-space: pre-wrap;
  }
</style>

<div class="flex flex-col m-2 p-2 border min-w-0">
  <div class="flex justify-between items-baseline py-2">
    <div>   
      <h4>{title}</h4>
      <p class="text-sm">{description}</p>
    </div>
    <Button slim={true} type={showCode ? "secondary" : "primary"} on:click={()=>{showCode = !showCode}}>
      {#if showCode}
        Hide code
      {:else}
        Show code
      {/if}
    </Button>
  </div>
  <div class="exmaple">
    <slot></slot>
  </div>
  <div class="overflow-x-auto">
    {#if showCode }
    <pre class="language-svelte ">
      <code class="language-svelte">
        {@html highlighted}
      </code>
    </pre>
      <!-- <Prism language="svelte"> -->
        <!-- {code} -->
      <!-- </Prism> -->
    {/if}
  </div>
</div>