<script>
  export let columns = 1;
</script>

<style>
  .grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    min-width: 0;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    min-width: 0;
  }
</style>

<div
  class:grid-1={columns === 1}
  class:grid-2={columns === 2}
>
  <slot></slot>  
</div>