<script>
  import { onMount, createEventDispatcher } from 'svelte';

  /**
   * Value to bind to
   * Boolean for a single true/false value
   * Array for a Checkbox group (uses nativeValue)
   * @type {Boolean|Array}
   */
  export let value;

  /**
   * Value to use in array for grouped Checkboxes
   * Required if value is an array
   * @type {String}
   */
  export let nativeValue;

  /**
   * Boolean if checkbox is disabled
   * @type {Boolean}
   */
  export let disabled = false;

  let checkboxEl;
  let checkedOnMount = false;
  let initialized = false;
  const dispatch = createEventDispatcher();

  $: if (initialized && Array.isArray(value)) {
    // Handle array value being modified from outside source
    checkboxEl.checked = value.includes(nativeValue);
  }

  onMount(() => {
    if (typeof value === 'boolean') {
      checkedOnMount = value;
    } else if (Array.isArray(value)) {
      checkedOnMount = value.includes(nativeValue)
    }

    initialized = true;
  })

  function handleChange() {
    const isChecked = checkboxEl.checked;
    
    if (typeof value === 'boolean') {
      value = isChecked;
    } else if (Array.isArray(value)) {
      if (isChecked) {
        value = [...value, nativeValue];
      } else {
        value = value.filter(v => v !== nativeValue)
      }
    }

    dispatch('change', value);
  }
</script>

<style type="text/scss">
  .checkbox {
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    @apply border-gray-300;

    &:hover {
      cursor: pointer;
    }

    &:checked {
      box-shadow: 0 0 0px 2px #fb5045;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      background: #fb5045;
      padding: 2px;
      border: 2px solid white;

      &.disabled {
        box-shadow: 0 0 0px 2px #fd9992;
        background: #fd9992;
      }
    }
    &.disabled {
      cursor: not-allowed;
      @apply border-gray-200;
    }
  }

  label {
    &:hover {
      cursor: pointer;
    }
  }
</style>

<label class="{$$props.class || ''} flex items-center text-sm">
  <slot name="label-left"></slot>
  <input
    bind:this={checkboxEl}
    type="checkbox"
    {disabled}
    bind:checked={checkedOnMount}
    class="checkbox leading-tight {$$slots['label-left'] ? 'ml-2' : ''} {$$slots.default ? 'mr-2' : ''} text-primary bg-white rounded border-2 focus:outline-none focus:shadow-outline {disabled ? 'disabled' : ''}"
    on:change={handleChange}
  >
  <slot></slot>
</label>
