<script>
  import { onMount, createEventDispatcher } from 'svelte';

  export let checked = false;
  export let disabled = false;

  function handleChange() {
    console.log('changed!!')
  }
</script>

<style type="text/scss">
  .checkbox {
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    @apply border-gray-300;

    &:hover {
      cursor: pointer;
    }

    &:checked {
      box-shadow: 0 0 0px 2px #fb5045;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      background: #fb5045;
      padding: 2px;
      border: 2px solid white;

      &.disabled {
        box-shadow: 0 0 0px 2px #fd9992;
        background: #fd9992;
      }
    }
    &.disabled {
      cursor: not-allowed;
      @apply border-gray-200;
    }
  }

  label {
    pointer-events: none;
    &:hover {
      cursor: pointer;
    }
  }
</style>

<label class="{$$props.class || ''} flex items-center text-sm">
  <slot name="label-left"></slot>
  <input
    type="checkbox"
    {disabled}
    bind:checked={checked}
    class="checkbox leading-tight {$$slots['label-left'] ? 'ml-2' : ''} {$$slots.default ? 'mr-2' : ''} text-primary bg-white rounded border-2 focus:outline-none focus:shadow-outline {disabled ? 'disabled' : ''}"
    on:change={handleChange}
  >
  <slot></slot>
</label>
