<script>
  export let disabled = false;
</script>

<style>

</style>

<label class="{$$props.class || ''} flex items-center text-sm">
  <slot name="label-left"></slot>
  <input
    type="checkbox"
    {disabled}
    bind:checked={checkedOnMount}
    class="checkbox leading-tight {$$slots['label-left'] ? 'ml-2' : ''} {$$slots.default ? 'mr-2' : ''} text-primary bg-white rounded border-2 focus:outline-none focus:shadow-outline {disabled ? 'disabled' : ''}"
    on:change={handleChange}
  >
  <slot></slot>
</label>