<script>
  /**
   * Text Input
   *
   * @component TextInput
   * @example
   * <TextInput bind:value={value} />
   */

  import { createEventDispatcher } from "svelte";

  /**
   * The text value to bind to
   * @type {String}
   */
  export let value;

  /**
   * The icon to display in the left of the text input (optional)
   * @type {String}
   */
  export let icon;

  /**
   * The icon to display in the right of the text input (optional)
   * @type {String}
   */
  export let iconRight;

  /**
   * Boolean if the left icon is clickable
   * @type {Boolean}
   */
  export let iconClickable = false;

  /**
   * Boolean if the right icon is clickable
   * @type {Boolean}
   */
  export let iconRightClickable = false;

  /**
   * Text input will be full width
   * @type {Boolean}
   */
  export let expanded = false;

  /**
   * Text input will display loading spinner
   * @type {Boolean}
   */
  export let loading = false;

  /**
   * Placeholder text for the input
   * @type {String}
   */
  export let placeholder = "";

  /**
   * Boolean if input background should be tinted
   * @type {Boolean}
   */
  export let tinted = false;

  export let padLeft = icon;
  export let padRight = iconRight;

  const dispatch = createEventDispatcher();

  /**
   * Dispatch the icon click event
   *
   * @return void
   */
  function handleIconClick() {
      dispatch("iconClick");
  }

  /**
   * Dispatch the icon right click event
   *
   * @return void
   */
  function handleIconRightClick() {
      dispatch("iconRightClick");
  }
</script>

<div
  class="{$$props.class || ''} relative flex items-center {tinted
      ? 'bg-gray-100'
      : 'bg-white'} rounded-md"
  class:expanded>
  {#if icon}
      <i
          class="{icon} text-primary absolute p-3"
          class:clickable={iconClickable}
          on:click={handleIconClick} />
  {/if}
  <input
      bind:value
      type="text"
      {placeholder}
      class="w-full py-3 px-4 text-sm leading-5 rounded-md text-coal-800 bg-transparent focus:outline-none focus:shadow-outline focus:border-blue-300"
      class:padleft={icon}
      class:padright={padRight}
      on:input
      on:focus
      on:keyup
      on:blur />
  {#if loading}
      <svg
          class="loading-icon h-5 w-5 mr-3"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24">
          <circle class="opacity-50" cx="12" cy="12" r="10" stroke="#c8c4c4" stroke-width="4" />
          <path
              fill="#c8c4c4"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z" />
      </svg>
  {/if}
  {#if iconRight && !loading}
      <i
          class="text-gray-400 {iconRight} absolute p-3 right-0"
          class:clickable={iconRightClickable}
          on:click|stopPropagation={handleIconRightClick} />
  {/if}
</div>

<style type="text/scss">
  .clickable:hover {
      cursor: pointer;
  }

  .expanded {
      width: 100%;
  }

  .loading-icon {
      position: absolute;
      right: 0;
      animation: spin 1s linear infinite;

      @keyframes spin {
          from {
              transform: rotate(0deg);
          }
          to {
              transform: rotate(360deg);
          }
      }
  }

  /* purgecss start ignore */
  .padleft {
      @apply pl-10;
  }

  .padright {
      @apply pr-10;
  }
  /* purgecss end ignore */
</style>
