<script>
  export let data = []
</script>

<style type="text/scss">
  
</style>

<div class="overflow-hidden mb-4">
  <table class="min-w-full divide-y divide-gray-300 border border-gray-300 rounded-lg">
    <thead class="bg-gray-50">
      <tr class="divide-x divide-gray-200">
        <th scope="col" class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pl-6">Prop</th>
        <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Description</th>
        <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Type</th>
        <th scope="col" class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pr-6">Default</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
      {#each data as row}
        <tr class="divide-x divide-gray-200">
          <td class="py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-6">{row.prop}</td>
          <td class="p-4 text-sm text-gray-800">{row.description}</td>
          <td class="p-4 text-sm text-gray-800">{row.type}</td>
          <td class="py-4 pl-4 pr-4 text-sm text-gray-800 sm:pr-6">{row.default}</td>
        </tr>
      {/each}
    </tbody>
  </table>
</div>