<script>
  import {onMount} from 'svelte'
  export let component = null;
  export let componentProps = {};
  export let slotComponent = {};

  // let propArray = [];

  // onMount(()=>{
  let propArray = objectAsArray(componentProps);
  // })

  function propsConstructor (propObj) {
    if (propObj) {

      const newProps = {};
      // propArray.forEach(prop => {
      //   newProps[prop.name] = prop.default;
      // });

      for (let key in propObj) {
        newProps[key] = propObj[key].value;
      }

      console.log({newProps})

      return newProps;
    } else {
      return {}
    }
  }

  // $: componentProps, propArray = propsConstructor(componentProps);

  function objectAsArray(obj) {
    return Object.keys(obj).map(key => {
      return {
        name: key,
        value: obj[key].value,
        type: obj[key].type
      }
    })
  }

  function convertToObject(arr) {
    const obj = {};
    arr.forEach(prop => {
      obj[prop.name] = {
        value: prop.value,
        type: prop.type
      };
    });
    return obj;
  }

  $: propArray, componentProps = convertToObject(propArray);
</script>

<style>
  .sidebar-props {
    min-width: 300px;
  }
</style>

<div class="flex w-full">
  <div class="sidebar-props border solid 1px border-gray-200 p-3">
    <h5>Props</h5>
    {#each propArray as prop}
      <div class="flex items-center">
        {#if prop.type === 'boolean'}
          <span class="mr-3">{prop.name} </span>
          <input type="checkbox" bind:checked={prop.value} />
        {/if}
        {#if prop.type === 'string'}
          <span class="mr-3">{prop.name} </span>
          <input class="border border-gray-400 rounded" type="text" bind:value={prop.value} />
        {/if}
        {#if prop.type === 'number'}
          <span class="mr-3">{prop.name} </span>
          <input class="border border-gray-400 rounded w-12" type="number" bind:value={prop.value} />
        {/if}
        {#if Array.isArray(prop.type)}
          <span class="mr-3">{prop.name} </span>
          <select class="border border-gray-400 rounded" type="text" bind:value={prop.value}>
            {#each prop.type as option}
              <option value={option}>{option}</option>
            {/each}
          </select>
        {/if}
      </div>
    {/each}
    <slot name="extra-controls"></slot>
  </div>
  <div class="border solid 1px border-gray-200 p-3 w-full">
    <slot></slot>
  </div>
</div>