<script>

</script>

<style>

</style>

<h5>Components</h5>
<div class="flex flex-col mb-4">
  <a href="/components/buttons">Buttons</a>
  <a href="/components/checkbox">Checkbox</a>
  <a href="/components/dropdowns">Dropdowns</a>
  <a href="/components/dynamic-modal">DynamicModal</a>
  <a href="/components/modal">Modal</a>
  <a href="/components/text-input">Text Input</a>
</div>

<h5>Typography</h5>
<div class="flex flex-col">
  <a href="/typography/headings">Headings</a>
  
</div>