<script>
  import { fade, fly } from "svelte/transition";
  import { onMount, createEventDispatcher } from 'svelte';

  /**
   * Boolean if modal is open
   * @type {Boolean}
   */
  export let open = false;

  let wrapper;
  let wrapperHeight;
  let wrapperOverflow = 'visible';
  let transitionDuration = 300;

  const dispatch = createEventDispatcher();
  let resizeObserver;
  // const resizeObserver = new ResizeObserver(entries => {
  //   wrapperOverflow = 'hidden';
  //   wrapperHeight = `${entries[0].target.clientHeight}px`;
  //   setTimeout(() => {
  //     wrapperOverflow = 'visible';
  //   }, transitionDuration)
  // })

  onMount(() => {
    resizeObserver = new ResizeObserver(entries => {
      wrapperOverflow = 'hidden';
      wrapperHeight = `${entries[0].target.clientHeight}px`;
      setTimeout(() => {
        wrapperOverflow = 'visible';
      }, transitionDuration)
    })
  })

  $: if (open) {
    wrapperHeight = 'auto';
  }

  function introTransitionEnd() {
    // Observe the slot content for height changes
    resizeObserver.observe(wrapper.children[0])
    // Dispatch introend event for parent to use if needed
    dispatch('introend');
  }

  function outroTransitionStart() {
    // Remove observer
    resizeObserver.unobserve(wrapper.children[0])
    // Dispatch outrostart event for parent to use if needed
    dispatch('outrostart');
  }
</script>

<style type="text/scss">
  .modal-wrapper {
    z-index: 10000;
  }

  .modal-content {
    max-height: 90%;
  }
</style>

{#if open}
  <div
    transition:fade
    class="modal-wrapper flex justify-center items-center absolute inset-0 bg-gray-500 bg-opacity-50"
  >
    <div
      bind:this={wrapper}
      transition:fly="{{ y: 200 }}"
      on:introend={introTransitionEnd}
      on:outrostart={outroTransitionStart}
      class="{`${$$props.class || ''} modal-content flex flex-col bg-white rounded-lg`}"
      style="height: {wrapperHeight}; overflow-y: {wrapperOverflow}; transition: height {transitionDuration}ms ease-in-out;"
    >
      <slot />
    </div>
  </div>
{/if}
