/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand: #193E44;
  --color-brand-dark: #143136;
  --color-brand-light: #476469;
  --color-brand-tint: #EDF0F0;
  --color-white: #ffffff;
  --color-black-muted: #333333;
  --color-black: #000000;
  --color-charcoal: #606060;
  --color-slate: #A9A9A9;
  --color-grey: #F2F2F2;
  --color-light-grey: #F8F8F8;

  --background-primary: var(--color-light-grey);


  --text-color-primary: var(--color-brand-dark);
}

.section {
  @apply m-2 p-2
}

h1, .t0 {
  @apply text-5xl font-semibold tracking-tighter leading-tight mb-4
}

h2, .t1 {
  @apply text-4xl font-semibold tracking-tight leading-tight mb-4
}

h3, .t2 {
  @apply text-3xl font-semibold tracking-tight leading-tight mb-3
}

h4, .t3 {
  @apply text-xl font-semibold tracking-tight leading-tight mb-2
}

h5, .t4 {
  @apply text-lg font-semibold tracking-normal leading-snug mb-2
}

h6, .t5 {
  @apply text-base font-semibold tracking-normal leading-snug mb-1
}

.t6 {
  @apply text-base font-semibold tracking-normal leading-snug uppercase mb-1
}

.t7 {
  @apply text-sm font-normal tracking-normal leading-snug mb-1
}

.b1 { 
  @apply text-lg font-normal tracking-normal leading-normal
}

.b2 {
  @apply text-lg font-normal tracking-normal leading-tight
}

.b3 {
  @apply text-base font-normal tracking-normal leading-normal
}

.b4 {
  @apply text-base font-normal tracking-normal leading-tight
}

.b5 {
  @apply text-sm font-normal tracking-normal leading-normal
}

.b6 {
  @apply text-sm font-normal tracking-normal leading-tight
}

.b7 {
  @apply text-xs font-normal tracking-normal leading-tight
}

p>code {
  background-color: #EDF0F0;
  @apply font-mono text-primary text-sm font-normal tracking-normal leading-tight border border-gray-400 rounded px-1 py-0.5 border-dotted
}