<script context="module">
  let modals = [];
</script>

<script>
  import { createEventDispatcher, onMount, onDestroy } from "svelte";
  import { fade, fly } from "svelte/transition";
  import Button from '../Button/Button.svelte';

  export let component;
  export let componentProps = {};
  export let options = {};

  const dispatch = createEventDispatcher();
  let open = true;
  let ref = {};

  // Vars for dynamic height modal
  let wrapper;
  let wrapperHeight = 'auto';
  let wrapperOverflow = 'visible';
  let transitionDuration = 300;
  let resizeObserver;

  onMount(() => {
    modals.push(ref);
    if (options.animateHeightChanges) {
      initObserver();
    }
  })

  onDestroy(() => {
    if (resizeObserver) {
      resizeObserver.unobserve(wrapper.children[0]);
    }
  })

  function initObserver() {
    resizeObserver = new ResizeObserver(entries => {
      wrapperOverflow = 'hidden';
      wrapperHeight = `${entries[0].target.clientHeight}px`;
      setTimeout(() => {
        wrapperOverflow = 'visible';
      }, transitionDuration)
    })

    resizeObserver.observe(wrapper.children[0]);
  }

  function handleClick(event) {
    if (!options.closeOnOutsideClick) {
      return;
    }

    if (event.target.id === "modal-overlay") {
      close();
    }
  }

  function handleKeydown(event) {
    if (!options.closeWithEscape) {
      return;
    }
    if (event.key === "Escape") {
      close();
    }
  }

  export function close() {
    open = false;
    modals = modals.filter(modalRef => modalRef !== ref);
    setTimeout(()=>{
      dispatch("close", null);
    },500)
  }
</script>

<style type="text/scss">
  .modal-wrapper {
    z-index: 10000;
    overflow: hidden;
  }

  .modal-content {
    max-height: 90%;
    min-width: 400px;
  }
</style>

<svelte:window on:keydown={handleKeydown} />
{#if open}
  <div
    transition:fade
    class="modal-wrapper flex justify-center items-center absolute w-full inset-0 bg-gray-500 bg-opacity-50"
    id="modal-overlay"
    on:click={handleClick}
  >
    <div
      bind:this={wrapper}
      transition:fly="{{ y: 200 }}"
      class="modal-content bg-white rounded-lg"
      style="width: {options.width}; height: {wrapperHeight}; overflow-y: {wrapperOverflow}; transition: height {transitionDuration}ms ease-in-out;"
    >
      <div class="p-4">
        {#if options.showCloseButton || (options.title && options.title.length)}
          <div class="flex mb-4">
            <p class="flex-grow text-xl font-semibold">{ options.title }</p>
            {#if options.showCloseButton}
              <span>
                <Button type="text" slim on:click={close}>
                  <i class="fal fa-times text-2xl text-gray-500"></i>
                </Button>
              </span>
            {/if}
          </div>
        {/if}
        <svelte:component this={component} {...componentProps} on:close={close} />
      </div>
    </div>
  </div>
{/if}