<script>
  import { fade, fly } from "svelte/transition";

  /**
   * Boolean if modal is open
   * @type {Boolean}
   */
  export let open = false;
</script>

<style type="text/scss">
  .modal-wrapper {
    z-index: 5000;
    overflow: hidden;
  }

  .modal-content {
    max-height: 90%;
    min-width: 400px;
  }
</style>

{#if open}
  <div
    transition:fade
    class="modal-wrapper flex justify-center items-center absolute w-full inset-0 bg-gray-500 bg-opacity-50"
  >
    <div
      transition:fly="{{ y: 200 }}"
      class="{$$props.class || ''} modal-content flex flex-col bg-white rounded-lg"
      style="{$$props.style || ''}"
    >
      <slot />
    </div>
  </div>
{/if}