<script>
    import { createEventDispatcher } from 'svelte';
    import Button from '../Button';

    export let includeWarning = false;
    export let message = '';
    export let hasCancel = true;
    export let hasConfirm = true;
    export let confirmLabel = 'Proceed';
    export let confirmMethod = () => {}

    const dispatch = createEventDispatcher();
    let loading = false;

    async function executeConfirmMethod() {
        loading = true;
        await confirmMethod();
        loading = false;
        close();
    }

    function close() {
        dispatch('close');
    }
</script>

<div class="flex flex-col items-center text-gray-800">
    {#if includeWarning}
        <div class="flex justify-center self-center bg-yellow-100 bg-opacity-50 rounded-full mb-6" style="width: 64px; height: 64px;">
            <i class="fas fa-exclamation-triangle text-yellow-300 text-2xl self-center"></i>
        </div>
    {/if}
    <p class="mb-6 text-center">
        { message }
    </p>
    <div class="flex">
        {#if hasCancel}
            <Button
                class="{hasConfirm ? 'mr-4' : ''}"
                type="secondary"
                on:click={close}
            >
                Cancel
            </Button>
        {/if}
        {#if hasConfirm}
            <Button
                type="primary"
                {loading}
                on:click={executeConfirmMethod}
            >
                { confirmLabel }
            </Button>
        {/if}
    </div>
</div>