<script>
    /**
     * Basic Button
     *
     * @component Button
     * @example
     * <Button on:click={() => ...}>Click Me!</Button>
     */

    /**
     * Button will be expanded (full width)
     * @type {Boolean}
     */
    export let expanded = false;

    /**
     * Button will be slim (reduced padding)
     * @type {Boolean}
     */
    export let slim = false;

    /**
     * The style type of the button
     * @type {'primary'|'secondary'|'secondary-alt'|'brand'|'brand-light'|'danger'|'success'|'warning'|'text'|'icon'}
     */
    export let type = "primary";

    /**
     * Button loading state
     * @type {Boolean}
     */
    export let loading = false;

    /**
     * Button disabled state
     * @type {Boolean}
     */
    export let disabled = false;
</script>

<button
    class="{type} {$$props.class ||
        ''} py-2 px-4 rounded-md text-sm focus:outline-none focus:shadow-outline focus:border-blue-300"
    class:expanded
    class:slim
    class:disabled={disabled || loading}
    disabled={disabled || loading}
    style={$$props.style || ""}
    on:click|stopPropagation>
    <span class="relative">
        <span class={loading ? "opacity-0" : "opacity-1"}>
            <!-- The internal content of the button. -->
            <slot />
        </span>
        {#if loading}
            <svg
                class="loading-icon h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24">
                <circle
                    class="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    stroke-width="4" />
                <path
                    class="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z" />
            </svg>
        {/if}
    </span>
</button>

<style type="text/scss">
    button {
        transition: background-color, opacity 150ms ease-out;
    }

    .primary {
        @apply bg-primary-500 text-white;

        &:hover {
            @apply bg-primary-400;
        }
    }

    .secondary {
        @apply bg-gray-100 text-primary border border-gray-200;

        &:hover {
            @apply bg-gray-200;
        }
    }

    .secondary-alt {
        @apply bg-white text-gray-700 border border-gray-200;

        &:hover {
            @apply bg-gray-200;
        }
    }

    .brand-light {
        background-color: #476469;
        @apply text-white;

        &:hover {
            background-color: #577980;
        }
    }

    .brand {
        background-color: #193E44;
        @apply text-white;

        &:hover {
            background-color: #22535a;
        }
    }

    .text {
        @apply bg-transparent;
    }

    .icon {
        width: 32px;
        height: 32px;
        @apply text-primary bg-gray-100 rounded-full;

        &:hover {
            @apply bg-gray-200;
        }
    }

    .success {
        background-color: var(--success-color);
        @apply text-white;
    }

    .danger {
        background-color: var(--error-color);
        @apply text-white;
    }

    .warning {
        background-color: var(--warning-color);
        @apply text-gray-800;
    }

    .expanded {
        width: 100%;
    }

    .slim {
        @apply py-1 px-2;
    }

    .disabled {
        @apply opacity-75 cursor-not-allowed;
    }

    .loading-icon {
        position: absolute;
        top: 0;
        left: calc(50% - 0.625rem);
        animation: spin 1s linear infinite;

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
</style>
